<div class="card">
  <div class="card-block">

    <form [formGroup]="editLeadForm" class="compact">

      <div align="right">
        <button class="btn btn-primary" (click)="onCancel()">
          <clr-icon shape="close"></clr-icon>
          Cancel
        </button>
      </div>
      <section class="form-block">
        <div class="card-title">
          <clr-icon shape="user" class="is-solid" size="36"></clr-icon>
          <label>Edit Lead</label>
          <aio-spinner [visible]=loading></aio-spinner>
        </div>
        <div class="form-group">
          <label for="rootCategories">Company Type</label>
          <div class="select">
            <select class="form-control compact" id="rootCategories" (change)="changeCompanyType($event.target.value)"
                    formControlName="rootCategories">
              <option *ngFor="let r of rootCategories" [value]="r.categoryId">{{r.categoryName}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="categories">Business Category</label>
          <div class="select">

            <select class="form-control compact" id="categories"
                    formControlName="categories">
              <option *ngFor="let c of businessCategories" [value]="c.categoryId">{{c.categoryName}}</option>
            </select>
          </div>
        </div>

        <div class="form-group" [formGroup]="editLeadForm">
          <label for="companyName">Company Name*</label>
          <input placeholder="Company Name" type="text"
                 id="companyName"
                 formControlName="companyName">
        </div>

        <div class="form-group" [formGroup]="editLeadForm">
          <label for="companyName">Contact Name</label>
          <input placeholder="Contact Name" type="text"
                 id="contactName"
                 formControlName="contactName">
        </div>

        <div class="form-group" [formGroup]="editLeadForm">
          <label for="contactEmail">Contact E-mail</label>
          <input placeholder="Contact E-mail" type="text"
                 id="contactEmail"
                 formControlName="contactEmail">
        </div>

        <aio-address [addressForm]="editLeadForm" [visible]="true" [addressType]="addressType"></aio-address>

        <div class="card-footer">
          <button class="btn btn-success btn-block" (click)="saveToCrm()"
          >Save To Crm
          </button>
        </div>


        <div class="card-footer">
          <button class="btn btn-primary btn-block" type="submit"
          >Send To AIO
          </button>
        </div>


      </section>
    </form>
  </div>


</div>
