<div class="card">
  <div class="card-block">
    <form [formGroup]="purchForm" (ngSubmit)="onSubmit()">
      <section class="form-block">
        <label>Purchasing</label>
      </section>
      <table class="table">
        <thead>
        <tr>
          <th>Product Price Each $150</th>
          <th>Qty</th>
          <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Number of TV AD Players</td>
          <td><input type="number" size="1" formControlName="tvplayersQty"></td>
          <td>{{tvAdPrice|currency:'USD':true:'1.2-2'}}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th>Service Price Each $150</th>
          <th>Qty</th>
          <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Number of Locations Subscriptions</td>
          <td><input type="number" size="1" formControlName="locQty"></td>
          <td>{{locationPrice|currency:'USD':true:'1.2-2'}}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
          <th>Service Price Each $85</th>
          <th>Qty</th>
          <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Number of Online Subscriptions</td>
          <td><input type="number" size="1" formControlName="onlineQty"></td>
          <td>{{onlinePrice|currency:'USD':true:'1.2-2'}}</td>
        </tr>
        </tbody>
      </table>

      <div class="form-group">
        <label for="subTotal">Sub-Total</label>
        <input readonly type="text" size="7"
               id="subTotal"
               value="{{totalPrice|currency:'USD':true:'1.2-2'}}">
        <label for="taxes">Taxes</label>
        <input readonly type="text" size="7"
               id="taxes"
               value="{{taxes|currency:'USD':true:'1.2-2'}}">
        <label for="totalWithTaxes">Total Owed</label>
        <input readonly type="text" size="7"
               id="totalWithTaxes"
               value="{{totalWithTaxes|currency:'USD':true:'1.2-2'}}">
      </div>

      <label>Payment Method</label>

      <div class="form-group">
        <label for="nameOnAccount">Name on Account</label>
        <input type="text"
               id="nameOnAccount" formControlName="nameOnAccount">
      </div>

      <div class="form-group">
        <label for="nameOnAccount">Account Number</label>
        <input type="text"
               id="accountNumber" formControlName="accountNumber">
      </div>

      <div class="form-group compact">
        <label for="expDateMM">Expiration Date</label>
        <input type="number" size="1" maxlength="2" placeholder="dd"
               id="expDateMM" formControlName="expDateMM">
        /
        <input type="number" size="2" maxlength="4" placeholder="yyyy"
               id="expDateYYYY" formControlName="expDateYYYY">
      </div>

      <div class="form-group">
        <label for="cvv">CVV Number</label>
        <input type="number"
               id="cvv" formControlName="cvv">
      </div>

      <label>The payment method entered above will be used for any monthly recurring billing by default
        If you wish to use a different account for the future recurring billing, please go to the
        Accounting section of your merchant portal to add another payment method.
      </label>

      <div class="form-group">
        <aio-back-button rout="storeDetails"></aio-back-button>
        <button class="btn btn-primary" type="submit" [disabled]="purchForm.invalid">Next
        </button>
      </div>

    </form>
  </div>
</div>
