<div *ngIf="visible">
  <div class="form-group" [formGroup]="addressForm">
    <label for="addr1">Address 1:*</label>
    <input placeholder="Enter the Address Line 1" size="45"
           type="text"
           id="addr1"
           formControlName="addr1"
    >
  </div>


  <div class="form-group" [formGroup]="addressForm">
    <label for="addr2">Address 2:</label>
    <input placeholder="Enter the Address Line 2" size="45"
           type="text"
           id="addr2"
           formControlName="addr2"
    >
  </div>


  <div class="form-group" [formGroup]="addressForm">
    <label for="country">Country:*</label>
    <div class="select">
      <select class="form-control" id="country" required (change)="changeCountry($event.target.value)"
              formControlName="country">
        <option *ngFor="let i of countries" [value]="i.countryId">{{i.countryName}}</option>
      </select>
    </div>
  </div>

  <div class="form-group" [formGroup]="addressForm">
    <label for="state">State/Province:*</label>
    <p-autoComplete id="state" formControlName="state" [suggestions]="stateNames" (completeMethod)="searchState($event)"
                    (onSelect)="changeStateEvent($event)"></p-autoComplete>
  </div>

  <div class="form-group" [formGroup]="addressForm">
    <label for="city">City:*</label>
    <p-autoComplete id="city" formControlName="city" [suggestions]="cityNames" (completeMethod)="searchCity($event)"
                    (onSelect)="changeCity($event)"></p-autoComplete>
  </div>

  <div class="form-group" [formGroup]="addressForm">
    <label for="zipcode">ZIP/Postal Code:*</label>
    <p-autoComplete id="zipcode" formControlName="zipcode" [suggestions]="zipcodeNames"
                    (completeMethod)="searchZipcode($event)" (onSelect)="changeZipcode($event)"></p-autoComplete>
  </div>

  <div class="form-group" [formGroup]="addressForm">
    <label>Phone:</label>
    <input placeholder="Code" size="1" readonly
           type="text"
           id="codeW"
           formControlName="phoneCode">
    <p-inputMask mask="(999) 999-9999" formControlName="phoneNum" placeholder="(999) 999-9999"></p-inputMask>
  </div>

  <div class="form-group" [formGroup]="addressForm">
  </div>

  <div class="form-group" [formGroup]="addressForm">
    <input placeholder="Ext" size="3"
           type="number"
           id="extW"
           formControlName="phoneExt">
  </div>

  <aio-spinner [visible]=loading></aio-spinner>

</div>
